.div-certificates {
    width: 100%;
    .input-content::placeholder {
        color: #bababa;
    }
    .input-link-certificate {
        margin-bottom: 1rem;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        #certificateList {
            .certificate-item {
                display: flex;
                margin-top: 1rem;
                position: relative;
                width: 100%;
                .certificate-input {
                    position: relative;
                    flex-grow: 9;
                    width: 80%;
                }
                .certificate-actions {
                    width: 10%;
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content:end;
                    margin-left: 1rem;
                    .action-btn {
                        width: 25px;
                        height: 25px;
                        margin-left: 0.6rem ;
                    }
                }
                .favorite {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 25px;
                }
            }
        }
        input {
            color: $secondary;
            width: 100%;
            border: 1px solid $secondary;
            border-radius: 4px;
            padding: 0.5rem 0.75rem;
            //background-image: url(../images/favorite-icon.jpg);
            background-repeat: no-repeat;
            background-position: right;
            background-size: 2.5rem;
        }
        label {
            color: $secondary;
            line-height: 16px;
            font-size: 0.875rem;
            font-weight: 400;
            .required {
                color: #bababa;
            }
        }
    }
}