@import '../scss/variables';

.container {
    padding: 0 2rem;
    .title {
        margin-top: 3.5rem;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .header {
        margin-top: 2.875rem;
        .steps {
            display: flex;
            width: 100%;
            padding-left: 0;
            list-style-type: none;
            justify-content: center;
        }
        .list-item {
            border-bottom: 1px solid grey;
            text-align: center;
            width: 33%;
            cursor: pointer;
            &.active {
                border-bottom: 2px solid $primary;
                color: $primary;
            }
        }
    }
}

@media (max-width: 475px) {
    .container {
        padding: 1rem;
        .title {
            margin-top: 2rem;
        }
        .header {
            margin-top: 2rem;
            .steps {
                padding: 0;
            }
        }
    }
}

@media (max-width: 325px) {
    .container {
        padding: 0.5rem;
        .title {
            margin-top: 1rem;
        }
        .header {
            margin-top: 1.5rem;
            .steps {
                padding: 0;
            }
        }
    }
}

