@import '../scss/variables';

.dynamic-content{
    .form{  
        .label-div {
            justify-content: flex-start;
        }
        .first-footer {
            display: flex;
            margin-bottom: 1rem;
            justify-content: flex-end;
            .submit-form-button {
                color: white;
                border: none;
                background-color: $primary;
                border-radius: 4px;
                width: 5rem;
                height: 2rem;
                font-size: 1rem;
                i {
                    color: white;
                    padding-left: 0.75rem;
                }
            }
        }
    }
}

@media (max-width: 475px) {
    .label-div {
        justify-content: flex-start;
    }
    .first-footer {
        width: 100%;
        margin-top: 1.5rem;
        justify-content: flex-end;       
    }
}

@media (max-width: 325px) {
    .dynamic-content{
        .form{  
            .label-div {
                justify-content: center;
                margin-top: 1.5rem;
                label {
                    margin-top: 1rem;
                }
            }
            .first-footer {
                margin-bottom: 1rem;
                justify-content: center;
                .submit-form-button {
                    width: 7rem;
                    font-size: 1rem;
                }
            }
        }
    }
}
    

