.container {
  padding: 0 2rem;
}

.container .title {
  margin-top: 3.5rem;
  font-size: 1.125rem;
  line-height: 24px;
  font-weight: 600;
}

.container .header {
  margin-top: 2.875rem;
}

.container .header .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .header .list-item {
  border-bottom: 1px solid grey;
  text-align: center;
  width: 33%;
  cursor: pointer;
}

.container .header .list-item.active {
  border-bottom: 2px solid #074EE8;
  color: #074EE8;
}

@font-face {
  font-family: 'Nunito';
  src: url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Nunito';
}

.dynamic-content {
  -webkit-transition: 200ms;
  transition: 200ms;
}

.invisible {
  opacity: 0;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.form {
  margin-top: 2.18rem;
}

.birthday .subtitle {
  font-size: 1.125rem;
  color: #AAAAAA;
  font-weight: 400;
}

.birthday .date-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.birthday .date-group .input-group {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.birthday .date-group .input-group select {
  color: #AAAAAA;
  width: 90%;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
}

.dynamic-content .form footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.dynamic-content .form footer .submit-form-button {
  color: white;
  border: none;
  background-color: #074EE8;
  border-radius: 4px;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
}

.dynamic-content .form footer .submit-form-button i {
  color: white;
  padding-left: 0.75rem;
}

.div-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.div-inputs .input-content::-webkit-input-placeholder {
  color: #bababa;
}

.div-inputs .input-content:-ms-input-placeholder {
  color: #bababa;
}

.div-inputs .input-content::-ms-input-placeholder {
  color: #bababa;
}

.div-inputs .input-content::placeholder {
  color: #bababa;
}

.div-inputs .input-group {
  margin-bottom: 2.18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.div-inputs .input-group input {
  color: #AAAAAA;
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
}

.div-inputs .input-group label {
  color: #AAAAAA;
  line-height: 16px;
  font-size: 0.875rem;
  font-weight: 400;
}

.div-inputs .input-group label .required {
  color: #bababa;
}

.div-inputs .input-group-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div-inputs .input-group-email input {
  color: #AAAAAA;
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
}

.div-inputs .input-group-email label {
  color: #AAAAAA;
  line-height: 16px;
  font-size: 0.875rem;
  font-weight: 400;
}

.div-inputs .input-group-email label .required {
  color: #bababa;
}

.div-inputs .input-group-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
}

.div-inputs .input-group-phone input {
  color: #AAAAAA;
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
}

.div-inputs .input-group-phone label {
  color: #AAAAAA;
  line-height: 16px;
  font-size: 0.875rem;
  font-weight: 400;
}

.div-inputs .input-group-phone label .required {
  color: #bababa;
}
/*# sourceMappingURL=style.css.map */