@import './_variables.scss';
@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Nunito';
}

.container {
    padding: 0 2rem;
    .title {
        margin-top: 3.5rem;
        font-size: 1.125rem;
        line-height: 24px;
        font-weight: 600;
    }
}

.header {
    margin-top: 2.875rem;
    .steps {
        display: flex;
        width: 100%;
        list-style-type: none;
        justify-content: center;
    }
    .list-item {
        border-bottom: 1px solid grey;
        text-align: center;
        width: 33%;
        cursor: pointer;
        &.active {
            border-bottom: 2px solid $primary;
            color: $primary;
        }
    }
}

.dynamic-content {
    transition: 200ms;
}

.invisible {
    opacity: 0;
    transition: 200ms;
}

.form {
    margin-top: 2.18rem;
}

.input-group {
    margin-bottom: 2.18rem;
    label {
        color: $secondary;
        line-height: 16px;
        font-size: 0.875rem;
        font-weight: 400;
        display: block;
    }
    input[type=text] {
        color: $secondary;
        width: 100%;
        border: 1px solid $secondary;
        border-radius: 4px;
        padding: 0.5rem 0.75rem;
    }
}

.birthday {
    .subtitle {
        font-size: 1.125rem;
        color: $secondary;
        font-weight: 400;
    }
    .date-group {
        display: flex;
        .input-group {
            flex-basis: 33%;
            select {
                color: $secondary;
                width: 90%;
                border: 1px solid $secondary;
                border-radius: 4px;
                padding: 0.5rem 0.75rem;
            }
        }
    }
}