@import './_variables.scss';
@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Nunito';
}

body {
    display: flex;
    justify-content: center;
}

.dynamic-content {
    transition: 200ms;
}

.invisible {
    opacity: 0;
    transition: 200ms;
}

.form {
    margin-top: 2.18rem;
}

