@import './_variables.scss';
@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    color: black;
    font-family: 'Nunito';
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    margin-top: 2.18rem;
}

