@import './_variables.scss';
@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    color: black;
    font-family: 'Nunito';
}

body {
    display: block;
    margin: auto;
    width: 70%;
}

.form {
    margin-top: 2.18rem;
}

@media (max-width: 475px) {
    body {
        display: flex;
        margin: 0;
        width: 100%;
    }

    .form {
        margin-top: 2rem;
    }

}

@media (max-width: 325px) {
    body {
        display: flex;
        margin: 0;
        width: 100%;
    }

    .form {
        margin-top: 1.5rem;
    }

}

@media (max-width: 775px) {
    body {
        display: flex;
        margin: 0;
        width: 100%;
    }

    .form {
        margin-top: 2rem;
    }

}



